.navigation{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 57px;
    background: #000000;
    justify-content: space-evenly;
    font-family: Minecraft;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: white;
    flex-wrap: wrap;

}

