.navShop{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    height: 538px;
    background: 100%, 100%;
    background-image: url("../Imagenes/fondoTienda.png");

    &__frame{
        max-width: 600px;
        max-height: 300px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: 100% 100%;
        background-image: url("../Imagenes/marcoIntro.png");

        &__row{
        max-width: 520px;
        display: flex;

        align-items: center;
        justify-content: space-between;
        width: 100%;

        }
    }

}