.pin{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    height: 470px;

    .list{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__frame{

        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 780px;
        max-height: 380px;
        width: 100%;
        height: 100%;
        background: 100% 100%;
        background-image: url("../Imagenes/marcosGrandesTienda2.png");

        &__content{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            max-width: 200px;

        }
    }

    &__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__img{
            max-width: 276px;
            max-height: 184px;
        }
        
    }

}