.productForm {

    &__label{
        font-family: Minecraft;
        font-style: normal;
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 500;
        line-height: 39px;
        display: block;
        margin-top: 10px;
    }

    &__input{
        display: block;
    }

    &__button{
        display: block;
        margin-top: 15px;
    }
}