@import "fullPage";
//@import "title"; SOLO ACTUALIZA EL SCSS CUANDO SE BORRA LOS IMPORT
@import "banner";
@import "navigation";
@import "imageNav";
@import "history";
@import "about";
@import "gallery";
@import "support";
@import "contact";
@import "footer";
@import "productForm";
@import "barraNavShop";
@import "navShop";
@import "shirt";
@import "sweater";
@import "sticker";
@import "pin";
@import "mug";
@import "general";

h1{
    font-family: Minecraft;
    font-style: normal;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 39px;
}

body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: black;
    overflow-x:hidden 

}

html{
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    background-color: black; 
    overflow-x:hidden 
    
}

.shop__Arrow{
    max-width: 38px;
    max-height: 60px;
    width: 100%;
    height: 100%;
}

h3{
    font-family: Minecraft;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;  
}
h4{
    font-family: Minecraft;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-top: -15px;
}

